<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <title>ExchangeRatesApi</title>
</head>
<body>
<div class="container">
    <h1>ExchangeRatesApi</h1>
    <p>Información actualizada sobre las tasas de cambio de USD y otras monedas en Argentina. También sobre el valor de acciones en USD.</p>
<div class="button-container">
    <a class="button" th:href="@{/currencies}"><i class="fas fa-file-alt"></i>Monedas</a>
    <a class="button" th:href="|${urlSwaggerDoc}|"><i class="fas fa-book"></i> Documentación</a>
</div>
</div>
</body>
</html>
